[submodule "modules/environment"]
	path = modules/environment
	url = https://github.com/rraafays/environment.nix
[submodule "modules/home"]
	path = modules/home
	url = https://github.com/rraafays/home.nix
[submodule "modules/fonts"]
	path = modules/fonts
	url = https://github.com/rraafays/fonts.nix
[submodule "modules/darwin"]
	path = modules/darwin
	url = https://github.com/rraafays/darwin.nix
[submodule "modules/work"]
	path = modules/work
	url = https://github.com/rraafays/work.nix
[submodule "modules/brew"]
	path = modules/brew
	url = https://github.com/rraafays/brew.nix
[submodule "modules/neovim"]
	path = modules/neovim
	url = https://github.com/rraafays/neovim.nix
[submodule "modules/aerospace"]
	path = modules/aerospace
	url = https://github.com/rraafays/aerospace.nix
